<div class="page">
  <h3 class="page-title">行车路线</h3>
  <div class="bg-white padding-16">
    <div class="search-form clearfix ant-form-inline">
      <nz-form-item *appAuthBtu="ActionCode.driveCircuitAdd">
        <nz-form-control>
          <button (click)="addInfo()" nz-button><i nz-icon type="file-add" theme="outline"></i>新增</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *appAuthBtu="ActionCode.driveCircuitDel">
        <nz-form-control>
          <button (click)="delModal()" nz-button><i nz-icon type="delete" theme="outline"></i>删除</button>
        </nz-form-control>
      </nz-form-item>
      <div class="pull-right" *appAuthBtu="ActionCode.driveCircuitSearch">
        <nz-form-item>
          <nz-form-control>
          <nz-tree-select style="width: 200px" name="section" [nzDropdownStyle]="{ 'max-height': '400px' }"
                          [nzShowSearch]="true" [nzShowExpand]="true" [nzNodes]="sectionNode"
                          nzPlaceHolder="选择机构" [nzDefaultExpandedKeys]="defaultExpanded"
                          [(ngModel)]="section"></nz-tree-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <input nzSize="default" [(ngModel)]="searchName" nz-input type="text" placeholder="请输入路线名称">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="searchInfo()"><i nz-icon type="search"></i>搜索</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button (click)="resetSearchInfo()" nz-button><i nz-icon type="reload"></i>重置</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table class="table-list" #thisTable nzShowPagination nzShowSizeChanger [nzFrontPagination]="false"
              [nzTotal]="pageTotal" [(nzPageIndex)]="pageNum" [(nzPageSize)]="pageSize"
              [nzData]="listOfAllData" [nzLoading]="infoLoading" [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange(true)">
      <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="70px">序号</th>
        <th nzShowSort nzSortKey="line_name">路线名称</th>
        <th>所属机构</th>
        <th>所在地区</th>
        <th>修改人</th>
        <th>最后修改时间</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of thisTable.data; let i = index;">
        <td nzShowCheckbox [(nzChecked)]="checkedId[data.lineId]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{(pageNum - 1) * pageSize + i + 1}}</td>
        <td>{{data.lineName}}</td>
        <td>{{data.orgName}}</td>
        <td>{{data.address}}</td>
        <td>{{data.modifyUserName}}</td>
        <td>{{data.modifyDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.remark}}</td>
        <td>
          <span *appAuthBtu="ActionCode.driveCircuitDetail" (click)="lookCircuit(data)" class="blue-txt transparen-btn">详情</span>
          <ng-container *appAuthBtu="ActionCode.driveCircuitEdit">
            <i class="line"></i>
            <span (click)="editInfo(data)" class="blue-txt transparen-btn">编辑</span>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<ng-template #totalTemplate let-total>
    <span class="m-r-sm">
    当前显示第{{(pageNum - 1) * pageSize + 1}}至第{{pageNum * pageSize - pageTotal > 0 ? pageTotal : pageNum * pageSize}}
      条记录，共计{{pageTotal}}条记录
  </span>
</ng-template>
<!--新增编辑弹框信息-->
<nz-modal [(nzVisible)]="detailModal.show1" [nzTitle]="detailModal.title" [nzMaskClosable]="false"
          [nzFooter]="modelFooter1"  (nzOnCancel)="handleDetailCancel()" nzWidth="1100px">
  <div class="model-content circuit-info">
    <div class="info-left">
      <div class="form-item" nz-row style="margin-top: 16px;">
        <label class="inline-block" nz-col nzSpan="4" >路线名称 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="19" class="form-control">
          <input nzSize="default" [(ngModel)]="driveInfo.lineName" nz-input type="text">
        </div>
       </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4" for="section">所属机构 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="19" class="form-control">
          <nz-tree-select style="width: 100%" name="section" id="section" nzPlaceHolder="请选择机构"
                          [nzDropdownStyle]="{ 'max-height': '400px' }"
                          [nzShowSearch]="true" [nzShowExpand]="true"
                          [nzNodes]="sectionNode" [nzDefaultExpandedKeys]="defaultExpanded"
                          [(ngModel)]="driveInfo.orgId"></nz-tree-select>
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4" >所在地区 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="19" class="form-control">
          <nz-select nz-col nzSpan="8" [(ngModel)]="driveInfo.provinceCode" (ngModelChange)="changeProvinceData($event)"  name="provinceSearch" nzAllowClear nzPlaceHolder="省">
            <nz-option *ngFor="let node of provinceNode" [nzValue]="node.code" [nzLabel]="node.name"></nz-option>
          </nz-select>
          <nz-select nz-col nzSpan="8" [(ngModel)]="driveInfo.cityCode" (ngModelChange)="changeCityData($event)" name="citySearch" nzAllowClear nzPlaceHolder="市">
            <nz-option *ngFor="let node of cityNode" [nzValue]="node.code" [nzLabel]="node.name"></nz-option>
          </nz-select>
          <nz-select nz-col nzSpan="8" [(ngModel)]="driveInfo.areaCode"  name="districtSearch" nzAllowClear nzPlaceHolder="区">
            <nz-option *ngFor="let node of districtNode" [nzValue]="node.code" [nzLabel]="node.name"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">偏离值</label>
        <div nz-col nzSpan="19" class="form-control">
          <div class="textarea">
            <input nzSize="default" [(ngModel)]="driveInfo.lineOffset" name="value-model" id="value-model" nz-input type="text">
            <span class="text-num">米</span>
          </div>
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4" for="remarks">备注</label>
        <div nz-col nzSpan="19" class="form-control">
          <div class="textarea">
            <textarea nz-input  [nzAutosize]="{minRows: 6, maxRows: 6}" [(ngModel)]="driveInfo.remark"
                      name="remarks" id="remarks" type="text" maxlength="100"></textarea>
            <span class="text-num">{{driveInfo.remark?driveInfo.remark.length:0}}/100</span>
          </div>
        </div>
      </div>
      <div class="pull-right" style="padding:90px 0 10px;margin-right: 20px;">
        <button nz-button (click)="startDraw()" style="margin-right:10px">
          <!-- <i nz-icon type="caret-right" theme="outline"></i> -->
          绘制路线</button>
        <button nz-button (click)="drawMakerWay()" style="margin-right:10px">绘制途经点</button>
        <button nz-button (click)="removeMakerWay()" style="margin-right:10px">清除途经点</button>
        <button nz-button (click)="reDraw()">
          <!-- <i nz-icon type="reload" theme="outline"></i> -->
          重绘路线</button>
      </div>
      <div class="clear"></div>
      <!-- <div class="pull-right" style="padding:25px 0 10px">
        <span class="red-txt">{{detailModal.errTxt}}</span>
        <button nz-button nzType="primary" style="margin-right:10px" (click)="handleDetailSave()" [nzLoading]="detailModal.loading"><i nz-icon type="save"></i>保存</button>
        <button nz-button nzType="default" (click)="handleDetailCancel()"><i nz-icon type="undo"></i>取消</button>
      </div> -->
      <div class="clear"></div>
    </div>
    <div class="info-right">
      <div class="map">
        <app-map-gaode-draw-driving #gaodeDrawDriving [hidden]="showGaoDe!==1" [status]="radioMapValue" [mapDrawDrivingIn]="driveInfo.linePointList" [handleFlag]="driveInfo.handleFlag" [addOrEditNum]="addOrEditNum" (gaodeDrawingDrivingOut)="mapDrawDrivingFromChild($event)"></app-map-gaode-draw-driving>
        <app-map-google-draw-driving #googleDrawDriving [hidden]="showGaoDe!==2" [status]="radioMapValue"  [mapDrawDrivingIn]="driveInfo.linePointList" [handleFlag]="driveInfo.handleFlag" [addOrEditNum]="addOrEditNum" (googleDrawingDrivingOut)="mapDrawDrivingFromChild($event)"></app-map-google-draw-driving>
        <!--地图切换-->
        <div class="ditu">
          <nz-radio-group [(ngModel)]="showGaoDe" [nzButtonStyle]="'solid'" nzSize="small">
            <label nz-radio-button [nzValue]="1">高德地图</label>
            <label nz-radio-button [nzValue]="2">谷歌地图</label>
          </nz-radio-group>
        </div>
        <!--卫星与道路切换-->
        <div class="weixing">
          <img (click)="changeSelectedMap()" [src]="'/assets/image/'+(radioMapValue===0?'map_satellite':'map_standard')+'.jpg'" alt="">
        </div>
      </div>
    </div>
  </div>
</nz-modal>
<ng-template #modelFooter1>
  <span class="red-txt">{{detailModal.errTxt}}</span>
  <button nz-button nzType="primary" (click)="handleDetailSave()" [nzLoading]="detailModal.loading"><i nz-icon type="save"></i>保存</button>
  <button nz-button nzType="default" (click)="handleDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>
<!--详情弹框-->
<nz-modal [(nzVisible)]="detailModal.show2" [nzTitle]="detailModal.title" [nzMaskClosable]="false"
          [nzFooter]="modelFooter2"  (nzOnCancel)="handleLookDetailCancel()" nzWidth="1100px">
  <div class="model-content circuit-info">
    <div class="info-left-detail parent-postion">
      <div class="form-item" nz-row style="margin-top: 16px;">
        <label class="inline-block" nz-col nzSpan="6">路线名称</label>
        <div nz-col nzSpan="18" class="form-control">
         {{lookDetailInfo.lineName}}
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="6">所属机构</label>
        <div nz-col nzSpan="18" class="form-control">
         {{lookDetailInfo.orgName}}
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="6" >所在地区</label>
        <div nz-col nzSpan="18" class="form-control">
        {{lookDetailInfo.address}}
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="6">偏离值</label>
        <div nz-col nzSpan="16" class="form-control">
          {{lookDetailInfo.lineOffset}}米
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="6">备注</label>
        <div nz-col nzSpan="18" class="form-control">
          {{lookDetailInfo.remark}}
        </div>
      </div>
      <!-- <div style="padding:20px 0;margin-top: 145px" class="pull-right">
        <button nz-button style="margin-right:10px"><i nz-icon type="caret-right" theme="outline"></i>开始</button>
        <button nz-button><i nz-icon type="reload" theme="outline"></i>重绘</button>
      </div> -->
      <div class="clear"></div>
      <!-- <div class="pull-bottom" style="padding:25px 0 10px">
        <button nz-button nzType="default" (click)="handleLookDetailCancel()"><i nz-icon type="undo"></i>取消</button>
      </div> -->
      <div class="clear"></div>
    </div>
    <div class="info-right">
      <div class="map">
        <app-map-gaode-draw-driving [hidden]="showGaoDe!==1" [status]="radioMapValue"  [mapDrawDrivingIn]="lookDetailInfo.linePointListShow" [handleFlag]=2></app-map-gaode-draw-driving>
        <app-map-google-draw-driving [hidden]="showGaoDe!==2" [status]="radioMapValue"  [mapDrawDrivingIn]="lookDetailInfo.linePointListShow" [handleFlag]=2></app-map-google-draw-driving>
        <!--地图切换-->
        <div class="ditu">
          <nz-radio-group [(ngModel)]="showGaoDe" [nzButtonStyle]="'solid'" nzSize="small">
            <label nz-radio-button [nzValue]="1">高德地图</label>
            <label nz-radio-button [nzValue]="2">谷歌地图</label>
          </nz-radio-group>
        </div>
        <!--卫星与道路切换-->
        <div class="weixing">
          <img (click)="changeSelectedMap()" [src]="'/assets/image/'+(radioMapValue===0?'map_satellite':'map_standard')+'.jpg'" alt="">
        </div>
      </div>
    </div>
  </div>
</nz-modal>
<ng-template #modelFooter2>
  <button nz-button nzType="default" (click)="handleLookDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>
