<div class="page">
  <h3 class="page-title">角色管理</h3>
  <div class="bg-white padding-16">
    <ng-container *ngIf="tabIndex === 0" nzTitle="角色管理">
      <div class="search-form clearfix ant-form-inline">
        <nz-form-item *appAuthBtu="ActionCode.roleManageAdd">
          <nz-form-control>
            <button (click)="addInfo()" nz-button><i nz-icon type="file-add" theme="outline"></i>新增</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *appAuthBtu="ActionCode.roleManageBatchDel">
          <nz-form-control>
            <button (click)="delModal()" nz-button><i nz-icon type="delete" theme="outline"></i>删除</button>
          </nz-form-control>
        </nz-form-item>
        <div class="pull-right">
          <nz-form-item>
            <nz-form-control>
              <nz-tree-select style="width: 150px" [nzShowSearch]="true" [nzShowExpand]="true" [nzNodes]="orgs"
                              [nzDropdownStyle]="{ 'max-height': '400px' }" [nzDefaultExpandedKeys]="defaultExpanded"
                nzPlaceHolder="请选择机构" [nzDropdownMatchSelectWidth]="false" [(ngModel)]="filters.deptId">
              </nz-tree-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input nzSize="default" [(ngModel)]="filters.name" nz-input type="text" placeholder="请输入角色名">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button (click)="pageChange(true)" nz-button nzType="primary"><i nz-icon type="search"></i>搜索</button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button (click)="resetSearchInfo()" nz-button><i nz-icon type="reload"></i>重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-table #thisTable nzShowSizeChanger [nzData]="rolesList" [nzTotal]="tableConfig.total"
        [(nzPageIndex)]="tableConfig.pageNum" [(nzPageSize)]="tableConfig.pageSize" [nzFrontPagination]="false"
        [nzLoading]="tableConfig.loading" (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange(true)"
        class="user-table table-list">
        <thead>
          <tr>
            <th nzWidth="60px" nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
            <th nzWidth="60px">序号</th>
            <th><span>角色名称</span></th>
            <th><span>所属机构</span></th>
            <th><span>备注</span></th>
            <th nzWidth="100px" class="text-center"><span>权限设置</span></th>
            <th nzWidth="150px" class="text-center"><span>操作</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of thisTable.data; let i = index;">
            <td nzShowCheckbox [(nzChecked)]="checkedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
            <td>{{(tableConfig.pageNum-1)*tableConfig.pageSize + i + 1}}</td>
            <td>{{data?.name}}</td>
            <td>{{data?.sysCompanyDO?.orgName}}</td>
            <td>{{data?.remark}}</td>
            <td *appAuthBtu="ActionCode.roleManageSetAuthAndLimit" class="text-center"><i class="anticon anticon-database" (click)="setAuthInit(data)"></i></td>
            <td class="text-center">
              <span *appAuthBtu="ActionCode.roleManageDetail" (click)="viewInfo(data)" class="blue-txt transparen-btn">详情</span>
              <ng-container *appAuthBtu="ActionCode.roleManageEdit">
                <i class="line"></i>
                <span (click)="editInfo(data)" class="blue-txt transparen-btn">编辑</span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>

    <ng-container *ngIf="tabIndex === 1">
1
        <div class="privilege-wrap">
          <div class="role-name">当前角色：{{privilegeRole.name}}</div>
          <ul class="main-list">
            <li class="top-menu-item" *ngFor="let topMenuItem of authTree;let topMenuIndex=index;">
              <input type="checkbox" [id]="'privilegePrivilege' + topMenuIndex" #menuControl (change)="void;" checked />
              <div class="menu-main-wrap">
                <div class="top-menu-header">
                  <span>
                    <label nz-checkbox [(ngModel)]="menuCodeObj[topMenuItem.id]"
                      [(nzIndeterminate)]="menuIndeterminateObj[topMenuItem.id]"
                      (ngModelChange)="checkAllMenuState($event,[topMenuItem])">
                      {{topMenuItem.name}}
                    </label>
                  </span>
                  <label [for]="'privilegePrivilege' + topMenuIndex">
                    <span *ngIf="menuControl.checked">展开<i class="anticon anticon-down"></i></span>
                    <span *ngIf="!menuControl.checked">收起<i class="anticon anticon-up"></i></span>
                  </label>
                </div>
                <div class="menu-content">
                  <div *ngFor="let sideMenuItem of topMenuItem.children;">
                    <div class="side-menu-item">
                      <div>
                        <label nz-checkbox [(ngModel)]="menuCodeObj[sideMenuItem.id]"
                          [(nzIndeterminate)]="menuIndeterminateObj[sideMenuItem.id]"
                          (ngModelChange)="checkAllMenuState($event,[sideMenuItem,topMenuItem])">
                          {{sideMenuItem.name}}
                        </label>
                      </div>
                      <ng-container
                        *ngIf="!sideMenuItem.children || sideMenuItem.children.length === 0; else subGroupItem;">
                        <div class="most-deep" *ngIf="sideMenuItem.auths && sideMenuItem.auths.length > 0">
                          <span>操作权限:</span>
                          <span *ngFor="let authItem of sideMenuItem.auths;">
                            <label nz-checkbox [(ngModel)]="authCodeObj[authItem.authId]"
                              (ngModelChange)="checkAllAuthState($event,[sideMenuItem,topMenuItem])">{{authItem.authName}}</label>
                          </span>
                        </div>
                      </ng-container>
                      <ng-template #subGroupItem>
                        <div *ngFor="let subItem of sideMenuItem.children;" class="side-menu-item">
                          <div>
                            <label nz-checkbox [(ngModel)]="menuCodeObj[subItem.id]"
                              [(nzIndeterminate)]="menuIndeterminateObj[subItem.id]"
                              (ngModelChange)="checkAllMenuState($event,[subItem,sideMenuItem,topMenuItem])">
                              {{subItem.name}}
                            </label>
                          </div>
                          <div class="most-deep" *ngIf="subItem.auths.length > 0">
                            <span>操作权限:</span>
                            <span *ngFor="let subAuthItem of subItem.auths;">
                              <label nz-checkbox [(ngModel)]="authCodeObj[subAuthItem.authId]"
                                (ngModelChange)="checkAllAuthState($event,[subItem,sideMenuItem,topMenuItem])">{{subAuthItem.authName}}</label>
                            </span>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <div class="buttons-wrap">
              <button nz-button nzType="primary" class="submit-button" (click)="setAuthSubmit()">保存</button>
              <button nz-button nzType="primary" class="submit-button" nzGhost="true"
                (click)="cancelTabPage()">取消</button>
            </div>
          </ul>
        </div>
      </nz-spin>
    </ng-container>
  </div>
</div>

<nz-modal [(nzVisible)]="detailModal.show" [nzTitle]="detailModal.title" [nzFooter]="modelFooter"
  (nzOnCancel)="handleDetailCancel()" nzWidth="600px">
  <form nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="name">角色名称 <span class="red-txt" *ngIf="detailModal.showContinue||detailModal.showSaveBtn">*</span></nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <input nz-input formControlName="name" placeholder="请输入角色名称">
            <nz-form-explain *ngIf="getFormControl('name')?.dirty&&getFormControl('name')?.hasError('required')">
              这是必填字段
            </nz-form-explain>
            <nz-form-explain *ngIf="getFormControl('name')?.dirty&&getFormControl('name')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selRoleData?.name}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="deptId">所属机构 <span class="red-txt" *ngIf="detailModal.showContinue||detailModal.showSaveBtn">*</span></nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <nz-tree-select formControlName="deptId" style="width: 100%" [nzShowSearch]="true" [nzShowExpand]="true"
                            [nzDropdownStyle]="{ 'max-height': '400px' }" [nzDefaultExpandedKeys]="defaultExpanded"
              [nzDropdownMatchSelectWidth]="false" [nzNodes]="orgs" nzPlaceHolder="请选择机构">
            </nz-tree-select>
            <nz-form-explain *ngIf="getFormControl('deptId')?.dirty&&getFormControl('deptId')?.hasError('required')">
              这是必填字段
            </nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selRoleData?.sysCompanyDO?.orgName}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="remark">备注</nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <textarea nz-input formControlName="remark" [nzAutosize]="{minRows: 2, maxRows: 6}" type="text"></textarea>
            <nz-form-explain *ngIf="getFormControl('remark')?.dirty&&getFormControl('remark')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selRoleData?.remark}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<ng-template #modelFooter>
  <label *ngIf="detailModal.showContinue" nz-checkbox [(ngModel)]="isContinue" class="pull-left">
    <span>连续添加</span>
  </label>
  <button *ngIf="detailModal.showSaveBtn" nz-button nzType="primary" (click)="handleDetailSave()"
    [nzLoading]="detailModal.loading"><i nz-icon type="save"></i>保存</button>
  <button nz-button nzType="default" (click)="handleDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>
