<!--<app-tab-route tabTitle="修改密码" >-->
  <div>
    <h3 class="page-title">修改密码</h3>
    <form nz-form class="add-form" [formGroup]="passwordForm" (ngSubmit)="updatePassword()" #pdForm>

      <nz-form-item>
        <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>原密码&nbsp;</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input formControlName="oldPassword" spellcheck="false" type="password"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>新密码&nbsp;</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input formControlName="newPassword" spellcheck="false" type="password"/>
          <nz-form-explain>由6到20位大小写字母、数字或其他字符组成</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>确认新密码&nbsp;</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input formControlName="secPassword" spellcheck="false" type="password"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="ant-form-item-label-none" nzSpan="4"></nz-form-label>
        <div nzSpan="20" nz-col>
          <button nz-button nzType="primary" nzSize="large" type="submit" class="submit-button">保存</button>
        </div>
      </nz-form-item>
    </form>
  </div>
<!--</app-tab-route>-->
