.dept-form {
  .dept-button{
    margin-top:20px;
  }
}


.ant-divider-horizontal {
  margin: 12px 0;
}
.table-warp{
  margin-top: 20px;
}
.ant-table-content{
  margin-top: 20px;
}

.ant-tabs{
  background: #FFF;
}
