<div class="page">
  <h3 class="page-title">报警策略</h3>
  <div class="bg-white padding-16">
    <div class="search-form clearfix ant-form-inline">
      <nz-form-item *appAuthBtu="ActionCode.alarmStrategyAdd">
        <nz-form-control>
          <button (click)="addInfo()" nz-button><i nz-icon type="file-add" theme="outline"></i>新增</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *appAuthBtu="ActionCode.alarmStrategyDel">
        <nz-form-control>
          <button (click)="delModal()" nz-button><i nz-icon type="delete" theme="outline"></i>删除</button>
        </nz-form-control>
      </nz-form-item>
      <div class="pull-right" *appAuthBtu="ActionCode.alarmStrategySearch">
        <nz-form-item>
          <nz-form-control>
            <input nzSize="default" [(ngModel)]="searchName" nz-input type="text" placeholder="请输入名称">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="searchInfo()"><i nz-icon type="search"></i>搜索</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="resetSearchInfo()"><i nz-icon type="reload"></i>重置</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table class="table-list" #thisTable nzShowPagination nzShowSizeChanger [nzFrontPagination]="false"
              [nzTotal]="pageTotal" [(nzPageIndex)]="pageNum" [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange(true)"
              [nzData]="listOfAllData" [nzLoading]="infoLoading" [nzShowTotal]="totalTemplate">
      <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="70px">序号</th>
        <th>策略名称</th>
        <th>报警类型</th>
        <!--<th>机构</th>-->
        <th>车辆</th>
        <th>设置内容</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of thisTable.data; let i = index">
        <td nzShowCheckbox [(nzChecked)]="checkedId[data.alarmConfigId]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{(pageNum - 1) * pageSize + i + 1}}</td>
        <td>{{data.configName}}</td>
        <td>{{data.alarmTypeName}}</td>
        <!--<td>{{data.orgName}}</td>-->
        <td>{{data.vehicleNums}}</td>
        <td>{{data.content}}</td>
        <td>
          <span *appAuthBtu="ActionCode.alarmStrategyDetail" (click)="lookAlarm(data)" class="blue-txt transparen-btn">详情</span>
          <ng-container *appAuthBtu="ActionCode.alarmStrategyEdit">
            <i class="line"></i>
            <span (click)="editInfo(data)" class="blue-txt transparen-btn">编辑</span>
          </ng-container>
          <ng-container *ngIf="data.alarmTypeCode ===1 || data.alarmTypeCode ===2">
            <i class="line"></i>
            <span (click)="resultInfo(data)" class="blue-txt transparen-btn">下发结果</span>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<ng-template #totalTemplate let-total>
    <span class="m-r-sm">
    当前显示第{{(pageNum - 1) * pageSize + 1}}至第{{pageNum * pageSize - pageTotal > 0 ? pageTotal : pageNum * pageSize}}
      条记录，共计{{pageTotal}}条记录
  </span>
</ng-template>
<!--新增编辑弹框-->
<nz-modal [(nzVisible)]="detailModal.show1" [nzTitle]="detailModal.title"
          [nzFooter]="modelFooter1" [nzMaskClosable]="false"
          (nzOnCancel)="handleDetailCancel()" nzWidth="600px">
  <form nz-row class="modal-form">
    <h4 class="form-item">报警信息</h4>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="5" for="name-model">报警策略名称 <span class="red-txt">*</span></label>
      <div nz-col nzSpan="19" class="form-control">
        <input nzSize="default" autocomplete="off" [(ngModel)]="alarmInfo.configName" name="name-model" id="name-model"
               nz-input type="text">
      </div>
    </div>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="5" for="vehicle-model">选择车辆 <span class="red-txt">*</span></label>
      <div nz-col nzSpan="19" class="form-control">
        <button (click)="showVehicle=true" nz-button><i nz-icon type="car" nzTheme="outline"></i>选择车辆</button>
        {{this.alarmInfo.selectVehicles ? '共选择' + alarmInfo.selectVehicles + '辆车' : '' }}
        <div [hidden]="!showVehicle" style="margin: 10px 0">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" name="searchVehNo" nz-input placeholder="请输入车牌号码..." [(ngModel)]="searchVehValue">
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon type="search"></i>
          </ng-template>
          <div style="max-height: 300px;overflow-y: auto">
            <nz-tree *ngIf="detailModal.show1" #treeCom name="vehicle-model" id="vehicle-model" nzCheckable
                     [nzCheckedKeys]="alarmInfo.vehicleIds" [nzData]="newVehicleNodes" [nzSearchValue]="searchVehValue"
                     nzAsyncData (nzClick)="nzEvent($event)" (nzExpandChange)="nzEvent($event)">
              <!--            <nz-tree *ngIf="detailModal.show1" #treeCom name="vehicle-model" id="vehicle-model" nzCheckable-->
              <!--                     [nzCheckedKeys]="alarmInfo.vehicleIds" [nzData]="vehicleNodes" [nzSearchValue]="searchVehValue">-->
            </nz-tree>
          </div>
        </div>
        <div [hidden]="!showVehicle">
          <button nz-button nzType="primary" style="float:right" (click)="confirmVeh()">确定</button>
        </div>
      </div>
    </div>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="5" for="type-model">报警类型 <span class="red-txt">*</span></label>
      <div nz-col nzSpan="19" class="form-control">
        <nz-select style="width: 100%;" nzPlaceHolder="请选择报警类型" [(ngModel)]="alarmInfo.alarmTypeCode" nzShowSearch
                   nzAllowClear name="type-model" id="type-model" (ngModelChange)="changeAlarmType($event)">
          <nz-option *ngFor="let node of typeNode" [nzValue]="node.val" [nzLabel]="node.label"></nz-option>
        </nz-select>
      </div>
    </div>
    <h4 class="form-item">报警条件</h4>
    <div *ngIf="showCondition[2]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="fence-model">电子围栏 </label>
        <div nz-col nzSpan="19" class="form-control">
          <nz-select style="width: 100%;" nzPlaceHolder="请选择电子围栏" [(ngModel)]="alarmInfo.fenceId" nzAllowClear
                     nzShowSearch name="fence-model" id="fence-model">
            <nz-option *ngFor="let node of fenceNode" [nzValue]="node.fenceId" [nzLabel]="node.fenceName"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="content-model">报警内容 </label>
        <div nz-col nzSpan="19" class="form-control">
          <!--        <nz-checkbox-group [(ngModel)]="contentOptions" name="content-model" id="content-model"></nz-checkbox-group>-->
          <nz-radio-group [(ngModel)]="alarmInfo.fenceAlarmType" name="content-model" id="content-model">
            <label nz-radio [nzValue]="o.value" *ngFor="let o of contentOptions">{{ o.label }}</label>
          </nz-radio-group>
        </div>
      </div>
    </div>
    <div *ngIf="showCondition[0]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="Speeding">超速速度 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="16" class="form-control">
          <nz-input-number style="width: 98%" [(ngModel)]="alarmInfo.speed" name="Speeding" id="Speeding"
                           [nzMin]="0"></nz-input-number>
          <!--          <input nzSize="default" autocomplete="off" [(ngModel)]="alarmInfo.speed" name="Speeding" id="Speeding"  nz-input type="text">-->
        </div>
        千米/小时
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="duration">持续时长 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="16" class="form-control">
          <nz-input-number style="width: 98%" [(ngModel)]="alarmInfo.speedTime" name="duration" id="duration"
                           [nzMin]="1" [nzStep]="1"></nz-input-number>
          <!--          <input nzSize="default" autocomplete="off" [(ngModel)]="alarmInfo.speedTime" name="duration" id="duration"  nz-input type="text">-->
        </div>
        秒
      </div>
    </div>
    <div *ngIf="showCondition[1]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="idling">怠速速度 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="16" class="form-control">
          <nz-input-number style="width: 98%" [(ngModel)]="alarmInfo.speed" name="idling" id="idling"
                           [nzMin]="0"></nz-input-number>
          <!--          <input nzSize="default" autocomplete="off" [(ngModel)]="alarmInfo.speed" name="idling" id="idling"  nz-input type="text">-->
        </div>
        千米/小时
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="time">持续时长 <span class="red-txt">*</span></label>
        <div nz-col nzSpan="16" class="form-control">
          <nz-input-number style="width: 98%" [(ngModel)]="alarmInfo.speedTime" name="time" id="time" [nzMin]="1"
                           [nzStep]="1"></nz-input-number>
          <!--          <input nzSize="default" autocomplete="off" [(ngModel)]="alarmInfo.speedTime" name="time" id="time"  nz-input type="text">-->
        </div>
        分钟
      </div>
    </div>
    <div *ngIf="showCondition[3]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="5" for="route">行车路线 </label>
        <div nz-col nzSpan="19" class="form-control">
          <nz-select style="width: 100%;" nzPlaceHolder="请选择行车路线" [(ngModel)]="alarmInfo.lineId" nzAllowClear
                     nzShowSearch name="route" id="route">
            <nz-option *ngFor="let node of lineNode" [nzValue]="node.lineId" [nzLabel]="node.lineName"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </form>
</nz-modal>
<ng-template #modelFooter1>
  <span class="red-txt">{{detailModal.errTxt}}</span>
  <button nz-button nzType="primary" (click)="handleDetailSave()" [nzLoading]="detailModal.loading"><i nz-icon
                                                                                                       type="save"></i>保存
  </button>
  <button nz-button nzType="default" (click)="handleDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>
<!--查看详情弹框-->
<nz-modal [(nzVisible)]="detailModal.show2" [nzTitle]="detailModal.title"
          [nzFooter]="modelFooter2" [nzMaskClosable]="false"
          (nzOnCancel)="handleLookDetailCancel()" nzWidth="600px">
  <form nz-row class="modal-form">
    <h4>报警信息</h4>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="4">报警策略名称 </label>
      <div nz-col nzSpan="20">
        {{alarmInfo.configName}}
      </div>
    </div>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="4">选择车辆 </label>
      <div nz-col nzSpan="20" class="form-control">
        <button (click)="showVehicle=true" nz-button><i nz-icon type="car" nzTheme="outline"></i>选择车辆</button>
        {{this.alarmInfo.selectVehicles ? '共选择' + alarmInfo.selectVehicles + '辆车' : '' }}
        <div [hidden]="!showVehicle" style="margin: 10px 0">
          <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" name="searchVeh" nz-input placeholder="请输入车牌号码..." [(ngModel)]="searchVehValue">
          </nz-input-group>
          <ng-template #suffixIcon>
            <i nz-icon type="search"></i>
          </ng-template>
          <div style="max-height: 300px;overflow-y: auto">
            <nz-tree #treeComLook name="vehicleModel" id="vehicleModel" [nzCheckedKeys]="alarmInfo.vehicleIds"
                     [nzData]="vehicleNodes" [nzSearchValue]="searchVehValue" nzCheckable nzMultiple>
            </nz-tree>
          </div>
        </div>
        <div [hidden]="!showVehicle">
          <button nz-button nzType="primary" style="float:right;" (click)="showVehicle=false">确定</button>
        </div>
      </div>
    </div>
    <div class="form-item" nz-row>
      <label class="inline-block" nz-col nzSpan="4">报警类型 </label>
      <div nz-col nzSpan="20" class="form-control">
        {{alarmInfo.alarmTypeName}}
      </div>
    </div>
    <h4>报警条件</h4>
    <div *ngIf="showCondition[2]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">电子围栏 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.fenceName}}
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">报警内容 </label>
        <div nz-col nzSpan="20" class="content">
          <!--          <nz-checkbox-group [(ngModel)]="contentOptions" [ngModelOptions]="{standalone: true}"></nz-checkbox-group>-->
          <nz-radio-group [(ngModel)]="alarmInfo.fenceAlarmType">
            <label nz-radio [nzValue]="o.value" nzDisabled *ngFor="let o of contentOptions">{{ o.label }}</label>
          </nz-radio-group>
        </div>
      </div>
    </div>
    <div *ngIf="showCondition[0]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">超速速度 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.speed}} 千米/小时
        </div>
      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">持续时长 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.speedTime}}秒
        </div>
      </div>
    </div>
    <div *ngIf="showCondition[1]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">怠速速度 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.speed}}千米/小时
        </div>

      </div>
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">持续时长 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.speedTime}}分钟
        </div>
      </div>
    </div>
    <div *ngIf="showCondition[3]">
      <div class="form-item" nz-row>
        <label class="inline-block" nz-col nzSpan="4">行车路线 </label>
        <div nz-col nzSpan="20" class="form-control">
          {{alarmInfo.lineName}}
        </div>
      </div>
    </div>
  </form>
</nz-modal>
<ng-template #modelFooter2>
  <button nz-button nzType="default" (click)="handleLookDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>

<!--下发结果详情弹框-->
<nz-modal [(nzVisible)]="resultModal.show" [nzTitle]="resultModal.title"
          [nzFooter]="modelFooter3" [nzMaskClosable]="false"
          (nzOnCancel)="resultModal.show=false" nzWidth="900px">
  <form nz-row class="modal-form">
    <div class="bg-white" style="padding: 0 16px">
      <div class="search-form clearfix ant-form-inline">
        <div class="pull-right">
          <nz-form-item>
            <nz-form-control>
              <nz-tree-select style="width: 200px" name="section" [nzDropdownStyle]="{ 'max-height': '400px' }"
                              [nzShowSearch]="true" [nzShowExpand]="true"
                              [nzNodes]="sectionNode" nzPlaceHolder="选择机构"
                              [(ngModel)]="section" [nzDefaultExpandedKeys]="defaultExpanded"></nz-tree-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-select style="width: 100px;" [(ngModel)]="vehicleType" name="type" nzAllowClear nzPlaceHolder="车辆类型">
                <nz-option *ngFor="let node of vehicleTypeNode" [nzValue]="node.val" [nzLabel]="node.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-select style="width: 150px;" nzPlaceHolder="请选择指令结果" [(ngModel)]="cmdSendState" nzShowSearch
                           nzAllowClear [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let node of cmdSendStateNodes" [nzValue]="node.val"
                             [nzLabel]="node.label"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-control>
              <input nzSize="default" [(ngModel)]="searchVehicleNO" (input)="onInput($event.target?.value)"
                     [nzAutocomplete]="auto" [ngModelOptions]="{standalone: true}"
                     nz-input type="text" placeholder="请输入车牌号码">
              <nz-autocomplete nzBackfill #auto>
                <nz-auto-option *ngFor="let option of searchVehicleList" [nzValue]="option.vehicleLicense">
                  {{option.vehicleLicense}}
                </nz-auto-option>
              </nz-autocomplete>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="getAlarmResult(selAlarmStrategy)"><i nz-icon
                                                                                               type="search"></i>搜索
              </button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button (click)="resetResultInfo()"><i nz-icon type="reload"></i>重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-table class="modal-table" #resultTable nzShowPagination [nzShowSizeChanger]="false"
                [nzFrontPagination]="false"
                [nzTotal]="resultModal.pageTotal" [(nzPageIndex)]="resultModal.pageNum"
                [(nzPageSize)]="resultModal.pageSize"
                (nzPageIndexChange)="getAlarmResult(selAlarmStrategy)" nzSize="small"
                [nzData]="resultTableData" [nzLoading]="resultModal.loading">
        <thead>
        <tr>
          <th nzWidth="70px">序号</th>
          <th>车牌号码</th>
          <th>车辆类型</th>
          <th>所属机构</th>
          <th>指令下发时间</th>
          <th>指令完成时间</th>
          <th>指令结果</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of resultTable.data; let i = index">
          <td>{{(pageNum - 1) * pageSize + i + 1}}</td>
          <td>{{data?.vehicleLicense}}</td>
          <td>{{data?.vehicleTypeName}}</td>
          <td>{{data?.orgName}}</td>
          <td>{{data?.cmdSendDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{data?.cmdFinishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{data?.cmdSendState | map:'cmdSendState'}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </form>
</nz-modal>
<ng-template #modelFooter3>
  <button nz-button nzType="default" (click)="resultModal.show=false"><i nz-icon type="undo"></i>取消</button>
</ng-template>
