$table-header-height: 50px;

$fix-footer-height: 60px;
$tabset-bar-height:40px;

$tab-page-padding-top:16px;
$tab-page-padding-bottom:16px;
$tab-page-padding-left:16px;
$tab-page-padding-right:16px;

$top-menu-bar-height: 60px;
$side-menu-bar-width: 200px;
$logo-height: 39px;

$length-5: 5px;
$length-10: 10px;
$length-20: 20px;

$light-bg: #fff;

$online-color: #21d37d;
$outline-color: #eeeeee;
$warning-color: #fe4d45;
