.wrap {
  width: inherit;
  height: inherit;
  position: relative;

  nz-input-group {
    width:100%;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

