.search-form{
  margin-bottom: 16px;
}
.form-item{
  margin-bottom: 16px;
}
.line{
  margin: 0 10px;
  width: 0;
  height: 16px;
  border-left: 1px solid #ccc;
}
.parking-info{
  display: flex;
  height: 500px;
  p{
    margin-bottom: 5px;
  }
  .info-left{
    flex: 500px 0;
    padding: 0 16px 16px;
    margin-right: 8px;
    background-color: rgba(242, 242, 242, 1);
    h5{
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .info-left-detail{
    flex: 400px 0;
    padding: 0 16px 16px;
    margin-right: 8px;
    background-color: rgba(242, 242, 242, 1);
    h5{
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
  .info-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    .map{
      flex: 1;
      background-color: pink;
    }
  }
}
.clear{
  clear: both;
}
.textarea{
  position: relative;
  .text-num{
    position: absolute;
    right: 8px;
    bottom: 6px;
    color: #CCCCCC;
    line-height: 1;
  }
}
.ditu{
  position: absolute;
  right: 2.5%;
  top: 13%;
}
.weixing{
  position: absolute;
  right: 2.5%;
  bottom: 12%;
  width: 45px;
  height: 45px;
img{
  width: 100%;
  height: 100%;
}
}
.pull-bottom{
  position: absolute;
  right: 10px;
  bottom: 10px;
  }
.parent-postion{
  position: relative;
  }