.qtitle {
  text-align: center;
  border-width: 0px;
  left: 0px;
  top: 0px;
  height: 37px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #7F7F7F;
  border-bottom: 4px solid rgba(242, 242, 242, 1);
}
.qname1 {
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  text-decoration: none;
  color: #7F7F7F;
}
.qname2 {
  font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight: 650;
  text-decoration: none;
  color: #252C5C;
  font-size: 28px;
}
