<div class="page">

  <div class="bg-white padding-16">

    <div class="ax_default" style="margin-bottom: 15px;">
      <!-- Unnamed (矩形) -->
      <div id="u625" class="ax_default box_1">
        <div id="u625_text" class="text ">
          <!--<p>-->
          <img id="u626_img" class="img " src="../../../../assets/image/jiahua/search.png"/>
          <span style="text-decoration:none;">筛选查询</span>
          <!--</p>-->
          <div id="u627" class="ax_default">
            <div id="u627_text" class="text ">
              <i nz-icon [type]="isCollapse ? 'down' : 'up'" style="font-size: 15px;cursor:pointer" (click)="toggleCollapse()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="search-conds" *ngIf="!isCollapse">
        <div nz-row nzGutter="16">
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">丝车编号</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入丝车编号" [(ngModel)]="filters.code"/>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">线别</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入线别" [(ngModel)]="filters.lineType"/>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">批号</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入批号" [(ngModel)]="filters.batchNum"/>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">规格</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入规格" [(ngModel)]="filters.standard"/>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">生产日期</label>
              <div nz-col nzSpan="16" class="form-control">
                <nz-date-picker [(ngModel)]="filters.createTime" nzFormat="yyyy-MM-dd" ></nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">包装操作员</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入包装操作员" [(ngModel)]="filters.packageOperator"/>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">包装时间</label>
              <div nz-col nzSpan="16" class="form-control">
                <nz-date-picker [(ngModel)]="filters.packageTime" nzFormat="yyyy-MM-dd HH:mm" ></nz-date-picker>
              </div>
            </div>
          </div>

          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">落丝开始时间</label>
              <div nz-col nzSpan="16" class="form-control">
                <nz-date-picker [(ngModel)]="filters.doffingStartTime" nzFormat="yyyy-MM-dd HH:mm" ></nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" style="float:right;padding-top: 20px" *appAuthBtu="2010601">
            <button nz-button nzType="primary" style="margin-right:20px" (click)="initList()">查询</button>
            <button nz-button style="margin-right:20px;" (click)="resetCond()">重置</button>
          </div>
        </div>

      </div>

      <!-- Unnamed (图片 ) -->
    </div>

    <div nz-row nzGutter="16">
      <button nz-button nzType="primary" style="margin-left:8px; margin-bottom:15px" *appAuthBtu="2010603" (click)="edit()"><i nz-icon type="form" theme="outline"></i>操作</button>

      <div nz-col class="gutter-row" style="float:right">
        <span style="margin-right:20px;">今日产量：{{doffingWeight}}kg</span>
        <button nz-button nzType="default" style="margin-left:8px; margin-bottom:15px;" *appAuthBtu="2010604">导出Excel</button>
      </div>
    </div>

    <nz-table class="table-list" #thisTable nzShowPagination nzBordered nzShowSizeChanger [nzFrontPagination]="false"
              style="text-align:center"
              [nzTotal]="tableConfig.pageTotal" [(nzPageIndex)]="tableConfig.pageNum" [(nzPageSize)]="tableConfig.pageSize"
              [nzData]="listOfAllData" [nzLoading]="tableConfig.infoLoading" [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange()">
      <thead >
      <tr>
        <th nzWidth="60px" nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="70px">序号</th>
        <th class="align-center">丝车编号</th>
        <th class="align-center">落丝开始时间</th>
        <th class="align-center">线别</th>
        <th class="align-center">批号</th>
        <th class="align-center">规格</th>
        <th class="align-center">班别</th>
        <th class="align-center">净重（kg）</th>
        <th class="align-center">生产日期</th>
        <th class="align-center">工艺状态</th>
        <th class="align-center">包装操作员</th>
        <th class="align-center">包装时间</th>
        <th *appAuthBtu="2010602" class="align-center">位置信息</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of thisTable.data; let i = index;" class="align-center">
        <td nzShowCheckbox [(nzChecked)]="checkedId[data.pmId]" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.pmId === '-1'"></td>
        <td>{{(tableConfig.pageNum - 1) * tableConfig.pageSize + i + 1}}</td>
        <td>{{data.code}}</td>
        <td>{{data.doffingStartTime}}</td>
        <td>{{data.lineType}}</td>
        <td>{{data.batchNum}}</td>
        <td>{{data.standard}}</td>
        <td>{{data.classType}}</td>
        <td>{{data.weight}}</td>
        <td>{{data.createTime}}</td>
        <td>{{trans(data.craftState)}}</td>
        <td>{{data.packageOperator}}</td>
        <td>{{data.packageTime}}</td>
        <td *appAuthBtu="2010602"><span class="blue-txt transparen-btn see-detail" (click)="showPos(data)">查看</span></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #totalTemplate let-total>
    <span class="m-r-sm">
    当前显示第{{(tableConfig.pageNum - 1) * tableConfig.pageSize + 1}}至第{{tableConfig.pageNum * tableConfig.pageSize - tableConfig.pageTotal > 0 ? tableConfig.pageTotal : tableConfig.pageNum * tableConfig.pageSize}}
      条记录，共计{{tableConfig.pageTotal}}条记录
  </span>
  </ng-template>


</div>
<nz-modal [(nzVisible)]="detailModal.show" [nzTitle]="detailModal.title" (nzOnOk)="submitForm()"
          (nzOnCancel)="handleDetailCancel()" nzWidth="95%" [nzStyle]="{'top': '40px'}" [nzFooter]="null">
  <div style="min-height: 600px;height: calc(100vh - 320px)" *ngIf="showiFrame">
    <iframe
      scrolling="no"
      id="onet"
      [src]="src"
      name="onet"
      frameborder="0"
      style="background-color:transparent; width: 100%; height: 100%;">
    </iframe>

  </div>
  <div *ngIf="!showiFrame">
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">线别</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="请输入线别" [(ngModel)]="submitModel.lineType"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">车号</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="请输入丝车编号" [(ngModel)]="submitModel.code"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">批号</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="请输入批号" [(ngModel)]="submitModel.batchNum"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">规格</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="请输入规格" [(ngModel)]="submitModel.standard"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">班别</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="请输入班别" [(ngModel)]="submitModel.classType"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">日期</label>
          <div nz-col nzSpan="16" class="form-control">
            <input type="text" disabled nz-input placeholder="" [(ngModel)]="submitModel.createTime"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">卷类别</label>
          <div nz-col nzSpan="16" class="form-control">
            <input type="text" disabled nz-input placeholder="卷类别" [value]="transReelType(submitModel.reelType)"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">合股次数</label>
          <div nz-col nzSpan="16" class="form-control">
            <!--                <input nzSize="default" nz-input type="text">-->
            <input type="text" disabled nz-input placeholder="合股次数" [(ngModel)]="submitModel.jointNum"/>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="4">要因记录</label>
          <div nz-col nzSpan="20" class="form-control">
            <textarea disabled rows="4" nz-input [(ngModel)]="submitModel.cause" placeholder="请输入要因"></textarea>
          </div>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="6">
        <div class="form-item" nz-row style="padding-top: 20px;">
          <label class="inline-span" nz-col nzSpan="8">工号</label>
          <div nz-col nzSpan="16" class="form-control">
            <input type="text" nz-input placeholder="请输入记录包装员工工号" [(ngModel)]="submitModel.packageEmid"/>
          </div>
        </div>
      </div>
    </div>
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" style="float:right;padding-top: 20px">

        <button *appAuthBtu="2010605"  nz-button nzType="primary" style="margin-right:20px;margin-bottom:20px;" (click)="savePack()">保存</button>
        <button *appAuthBtu="2010606"  nz-button nzType="danger" style="margin-right:20px;margin-bottom:20px;" (click)="endPack()">包装完成</button>
      </div>
    </div>
    <div *ngFor="let item of doffList; let i = index" style="margin-top: 10px; background: #f3f3f3;">
      <div nz-row style="margin-bottom: 20px;">
        <h4 style="margin: 10px 0px -24px 10px;" ><img src="../../../../assets/image/jiahua/table/u1534.svg"/>第{{i + 1}}次落丝</h4>
        <div nz-col class="gutter-row" nzSpan="6">
          <div class="form-item" nz-row style="padding-top: 20px;">
            <label class="inline-span" nz-col nzSpan="8">落丝时间</label>
            <div nz-col nzSpan="16" class="form-control">
              <nz-date-picker disabled  [(ngModel)]="item.doffingTime" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
            </div>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
          <div class="form-item" nz-row style="padding-top: 20px;">
            <label class="inline-span" nz-col nzSpan="8">净重</label>
            <div nz-col nzSpan="16" class="form-control">
              <!--                <input nzSize="default" nz-input type="text">-->
              <input type="text" disabled nz-input placeholder="请输入净重(kg)" [(ngModel)]="item.weight"/>
            </div>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
          <div class="form-item" nz-row style="padding-top: 20px;">
            <label class="inline-span" nz-col nzSpan="8">落丝纺位</label>
            <div nz-col nzSpan="16" class="form-control">
              <input type="text" disabled nz-input placeholder="请输入净重(kg)" [(ngModel)]="item.spinPos"/>
            </div>
          </div>
        </div>
      </div>
      <app-new-table *ngIf="item.showtable" [dataList]="item.exception"></app-new-table>
    </div>
  </div>

</nz-modal>
