<div class="page">

  <div class="bg-white padding-16">

    <div class="ax_default" style="margin-bottom: 15px;">
      <!-- Unnamed (矩形) -->
      <div id="u625" class="ax_default box_1">
        <div id="u625_text" class="text ">
          <!--<p>-->
          <img id="u626_img" class="img " src="../../../../assets/image/jiahua/search.png"/>
          <span style="text-decoration:none;">筛选查询</span>
          <!--</p>-->
          <div id="u627" class="ax_default">
            <div id="u627_text" class="text ">
              <i nz-icon [type]="isCollapse ? 'down' : 'up'" style="font-size: 15px;cursor:pointer" (click)="toggleCollapse()"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="search-conds" *ngIf="!isCollapse">
        <div nz-row nzGutter="32">
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">批号</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入批号" [(ngModel)]="filters.batchNum" />
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">规格</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入规格" [(ngModel)]="filters.standard" />
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">线别</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入线别" [(ngModel)]="filters.lineType" />
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">丝车编号</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <input type="text" nz-input placeholder="请输入丝车编号" [(ngModel)]="filters.code" />
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">告警日期</label>
              <div nz-col nzSpan="16" class="form-control">
                <!--                <input nzSize="default" nz-input type="text">-->
                <nz-date-picker style="width:100%;" [(ngModel)]="filters.alarmTime"></nz-date-picker>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" nzSpan="6">
            <div class="form-item" nz-row style="padding-top: 20px;">
              <label class="inline-span" nz-col nzSpan="8">处理状态</label>
              <div nz-col nzSpan="16" class="form-control">
                <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="filters.isHandled">
                  <nz-option nzValue="0" nzLabel="未处理"></nz-option>
                  <nz-option nzValue="1" nzLabel="已经处理"></nz-option>
                </nz-select>
              </div>
            </div>
          </div>

          <div nz-col class="gutter-row" style="float:right;padding-top: 20px" *appAuthBtu="2020301">
            <button nz-button nzType="primary" style="margin-right:20px" (click)="initList()">查询</button>
            <button nz-button style="margin-right:20px;" (click)="resetCond()">重置</button>
          </div>
        </div>

      </div>

      <!-- Unnamed (图片 ) -->
    </div>

    <div nz-row nzGutter="16">
      <button nz-button nzType="primary" *appAuthBtu="2020302" style="margin-left:8px; margin-bottom:15px"><i nz-icon type="file-done" theme="outline"></i>处理</button>

      <div nz-col class="gutter-row" style="float:right">
        <button *appAuthBtu="2020304" (click)="export()" nz-button nzType="default" style="margin-left:8px; margin-bottom:15px;">导出Excel</button>
      </div>
    </div>

    <nz-table class="table-list" #thisTable nzShowPagination nzBordered nzShowSizeChanger [nzFrontPagination]="false"
              style="text-align:center"
              [nzTotal]="tableConfig.pageTotal" [(nzPageIndex)]="tableConfig.pageNum" [(nzPageSize)]="tableConfig.pageSize"
              [nzData]="listOfAllData" [nzLoading]="tableConfig.infoLoading" [nzShowTotal]="totalTemplate"
              (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange()">
      <thead >
      <tr>
        <th nzWidth="60px" nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="70px">序号</th>
        <th class="align-center">丝车编号</th>
        <th class="align-center">线别</th>
        <th class="align-center">批号</th>
        <th class="align-center">规格</th>
        <th class="align-center">生产日期</th>
        <th class="align-center">工艺状态</th>
        <th class="align-center">报警类型</th>
        <th class="align-center">报警日期</th>
        <!-- <th *appAuthBtu="2020303" class="align-center">位置信息</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of thisTable.data; let i = index;" class="align-center">
        <td nzShowCheckbox [(nzChecked)]="checkedId[data.alarmId]" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.alarmId === '-1'"></td>
        <td>{{(tableConfig.pageNum - 1) * tableConfig.pageSize + i + 1}}</td>
        <td>{{data.code}}</td>
        <td>{{data.lineType}}</td>
        <td>{{data.batchNum}}</td>
        <td>{{data.standard}}</td>
        <td>{{data.produceTime}}</td>
        <td>{{data.craftState}}</td>
        <td>{{data.alarmType}}</td>
        <td>{{data.alarmTime}}</td>
        <!-- <td *appAuthBtu="20200303"><span class="blue-txt transparen-btn see-detail" >查看</span></td> -->
      </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #totalTemplate let-total>
    <span class="m-r-sm">
    当前显示第{{(tableConfig.pageNum - 1) * tableConfig.pageSize + 1}}至第{{tableConfig.pageNum * tableConfig.pageSize - tableConfig.pageTotal > 0 ? tableConfig.pageTotal : tableConfig.pageNum * tableConfig.pageSize}}
      条记录，共计{{tableConfig.pageTotal}}条记录
  </span>
  </ng-template>


</div>
