<div class="page">
  <h3 class="page-title">机构管理</h3>
  <div class="bg-white padding-16">
    <div class="search-form clearfix ant-form-inline">
      <nz-form-item *appAuthBtu="ActionCode.deptManageAdd">
        <nz-form-control>
          <button (click)="addInfo()" nz-button><i nz-icon type="file-add" theme="outline"></i>新增</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *appAuthBtu="ActionCode.deptManageDel">
        <nz-form-control>
          <button (click)="delModal()" nz-button><i nz-icon type="delete" theme="outline"></i>删除</button>
        </nz-form-control>
      </nz-form-item>
      <div class="pull-right" *appAuthBtu="ActionCode.deptManageSearch">
        <nz-form-item>
          <nz-form-control>
            <input nzSize="default" [(ngModel)]="filters.orgName" nz-input type="text" placeholder="请输入机构名称">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button (click)="pageChange(true)" nz-button nzType="primary"><i nz-icon type="search"></i>搜索</button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button (click)="resetSearchInfo()" nz-button><i nz-icon type="reload"></i>重置</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table #thisTable nzShowSizeChanger [nzData]="listOfAllData" [nzTotal]="tableConfig.total"
      [(nzPageIndex)]="tableConfig.pageNum" [(nzPageSize)]="tableConfig.pageSize" [nzFrontPagination]="false"
      [nzLoading]="tableConfig.loading" (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange(true)"
      class="user-table table-list">
      <thead (nzSortChange)="sort($event)">
        <tr>
          <th nzWidth="60px" nzShowCheckbox [(nzChecked)]="isAllChecked" (nzCheckedChange)="checkAll($event)"></th>
          <th nzWidth="70px">序号</th>
          <th nzWidth="12%">机构名称</th>
          <th nzShowSort nzSortKey="org_code" nzWidth="8%">机构编号</th>
          <th nzWidth="12%">所属机构</th>
          <th nzWidth="16%">地址</th>
          <th nzWidth="8%">联系人</th>
          <th nzWidth="13%">联系电话</th>
          <th>备注</th>
          <th nzWidth="150px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of thisTable.data; let i = index;">
          <td nzShowCheckbox [(nzChecked)]="checkedId[data.orgId]" (nzCheckedChange)="refreshStatus()" [nzDisabled]="data.pId === '-1'"></td>
          <td>{{(tableConfig.pageNum-1)*tableConfig.pageSize + i + 1}}</td>
          <td>{{data?.orgName}}</td>
          <td>{{data?.orgCode}}</td>
          <td>{{data?.pOrgName}}</td>
          <td>{{data?.areaName + data?.address}}</td>
          <td>{{data?.principal}}</td>
          <td>{{data?.tel}}</td>
          <td>{{data?.remark}}</td>
          <td>
            <span *appAuthBtu="ActionCode.deptManageDetail" (click)="viewInfo(data)" class="blue-txt transparen-btn">详情</span>
            <ng-container *appAuthBtu="ActionCode.deptManageEdit">
              <i class="line"></i>
              <span (click)="editInfo(data)" class="blue-txt transparen-btn">编辑</span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal [(nzVisible)]="detailModal.show" [nzTitle]="detailModal.title" [nzFooter]="modelFooter"
  (nzOnCancel)="handleDetailCancel()" nzWidth="600px">
  <form nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col>

      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="orgCode">机构编号 <span class="red-txt" *ngIf="detailModal.showContinue||detailModal.showSaveBtn">*</span></nz-form-label>
          <nz-form-control nz-col [nzSpan]="20"  *ngIf="detailModal.showSaveBtn">
            <input nz-input formControlName="orgCode" placeholder="请输入机构编号">
            <nz-form-explain
              *ngIf="getFormControl('orgCode')?.dirty&&getFormControl('orgCode')?.hasError('required')">
              这是必填字段
            </nz-form-explain>
            <nz-form-explain
              *ngIf="getFormControl('orgCode')?.dirty&&getFormControl('orgCode')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.orgCode}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row *ngIf="!isBaseOrg">
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="pId">所属机构 <span class="red-txt" *ngIf="detailModal.showContinue||detailModal.showSaveBtn">*</span></nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <nz-tree-select formControlName="pId" style="width: 100%" nzAllowClear [nzShowSearch]="true"
              [nzDropdownMatchSelectWidth]="false" [nzNodes]="orgs" nzPlaceHolder="请选择机构" [nzDefaultExpandedKeys]="defaultExpendKeys">
            </nz-tree-select>
            <nz-form-explain
              *ngIf="getFormControl('pId')?.dirty&&getFormControl('pId')?.hasError('required')">
              这是必填字段
            </nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.pOrgName}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="areaName">机构地址</nz-form-label>
          <div nz-row nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <nz-form-control nz-col [nzSpan]="8" class="add-select-fcn pull-left">
              <nz-select style="width: 95%;" formControlName="provinceId" nzPlaceHolder="请选择" (ngModelChange)="provinceChange($event)"
                         nzNotFoundContent="加载中..." [nzDropdownMatchSelectWidth]="false">
                <nz-option [nzValue]="i.code" [nzLabel]="i.name" *ngFor="let i of provinceList"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control nz-col [nzSpan]="8" class="add-select-fcn pull-left">
              <nz-select style="width: 95%; margin: 0 2.5%" formControlName="cityId" nzPlaceHolder="请选择" (ngModelChange)="cityChange($event)" [nzDropdownMatchSelectWidth]="false">
                <nz-option [nzValue]="i.code" [nzLabel]="i.name" *ngFor="let i of cityList"></nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control nz-col [nzSpan]="8" class="add-select-fcn pull-left">
              <nz-select style="width: 95%;margin-left: 5%" formControlName="countyId" nzPlaceHolder="请选择" [nzDropdownMatchSelectWidth]="false">
                <nz-option [nzValue]="i.code" [nzLabel]="i.name" *ngFor="let i of countyList"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.areaName + selOrgData?.address}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row *ngIf="detailModal.showSaveBtn">
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-control nz-col [nzOffset]="4" [nzSpan]="20">
            <input nz-input formControlName="address" placeholder="请输入详细地址">
            <nz-form-explain *ngIf="getFormControl('address')?.dirty&&getFormControl('address')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="principal">联系人</nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <input nz-input formControlName="principal" placeholder="请输入联系人">
            <nz-form-explain *ngIf="getFormControl('principal')?.dirty&&getFormControl('principal')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.principal}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="tel">联系电话</nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <input nz-input formControlName="tel" placeholder="请输入联系电话">
            <nz-form-explain *ngIf="getFormControl('tel')?.dirty&&getFormControl('tel')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.tel}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nz-col [nzSpan]="4" nzFor="remark">备注</nz-form-label>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="detailModal.showSaveBtn">
            <textarea nz-input formControlName="remark" [nzAutosize]="{minRows: 2, maxRows: 6}" type="text"></textarea>
            <nz-form-explain *ngIf="getFormControl('remark')?.dirty&&getFormControl('remark')?.hasError('maxlength')">
              已超出最大长度</nz-form-explain>
          </nz-form-control>
          <nz-form-control nz-col [nzSpan]="20" *ngIf="!detailModal.showSaveBtn">
            {{selOrgData?.remark}}
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<ng-template #modelFooter>
  <label *ngIf="detailModal.showContinue" nz-checkbox [(ngModel)]="isContinue" class="pull-left">
    <span>连续添加</span>
  </label>
  <button *ngIf="detailModal.showSaveBtn" nz-button nzType="primary" (click)="handleDetailSave()"
    [nzLoading]="detailModal.loading"><i nz-icon type="save"></i>保存</button>
  <button nz-button nzType="default" (click)="handleDetailCancel()"><i nz-icon type="undo"></i>取消</button>
</ng-template>
