<app-tab-route tabTitle="用户管理" >
  <ng-container *ngIf="tabPageType === 0" >
    <div class="main-content">
    <div class="table-header clear-fix" #searchWarpEle>
      <button nz-button class="m-r-sm" (click)="getUserList()"><i nz-icon type="sync" theme="outline"></i></button>
      <button nz-button nzType="primary" class="m-r-sm" (click)="addOrEditUserTab(1)" *appAuthBtu="ActionCode.userManageAdd">
        <i nz-icon type="plus" theme="outline"></i>新增</button>
      <button nz-button nzType="danger" class="m-r-sm" (click)="deleteUsers(selectedUserIdList)" *appAuthBtu="ActionCode.userManageDel">
        <i nz-icon type="delete" theme="outline"></i>删除</button>
    </div>
    <div class="table-wrap" #tableWarpEle [ngStyle]="{top: searchWarpEle.clientHeight + 'px'}">
      <nz-table nzSize="small" [nzData]="userDataList" #userTable [nzTotal]="userTableConfig.total" [(nzPageIndex)]="userTableConfig.pageNum"
                [nzBordered]="true" [(nzPageSize)]="userTableConfig.pageSize" [nzFrontPagination]="false" [nzShowQuickJumper]="true"
                [nzLoading]="userTableConfig.loading" (nzPageIndexChange)="getUserList($event)" class="user-table"
                [nzScroll]="{y: tableWarpEle.clientHeight - theadEle.clientHeight - 60 + 'px'}">
        <thead>
          <tr #theadEle>
            <th nzWidth="4%" nzShowCheckbox [(nzChecked)]="userTableConfig.allChecked" (nzCheckedChange)="checkUserTableAll($event)" ></th>
            <th  *ngFor="let headItem of userTableConfig.header;trackBy:trackByTableHeader" [nzWidth]="headItem.width"><span>{{headItem.name}}</span></th>
            <th nzWidth="17%"><span>操作</span></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of userTable.data;trackBy:trackByUserId;let rowIndex = index;">
            <td nzShowCheckbox [(nzChecked)]="row.checked" (nzCheckedChange)="checkUserTableSingle($event,row)"></td>
            <td *ngFor="let header of userTableConfig.header;">

              <ng-container *ngIf="header.pipe">{{row[header.field] | map:header.pipe}}</ng-container>
              <ng-container *ngIf="!header.pipe">{{row[header.field]}}</ng-container>
            </td>
            <td class="operate-text">
                <nz-switch [(ngModel)]="row.locked" nzCheckedChildren="启用" nzUnCheckedChildren="锁定" (ngModelChange)="lockUser($event, row)" *appAuthBtu="ActionCode.userManageEnable"></nz-switch>
                <button nz-tooltip="重置密码" nz-button nzType="default" nzShape="circle" nzSize="small" (click)="resetPd(row)" *appAuthBtu="ActionCode.userManageResetPd"><i nz-icon type="key" theme="outline"></i></button>
                <button nz-tooltip="编辑" nz-button nzType="edit" nzShape="circle" nzSize="small" (click)="addOrEditUserTab(2,row)" *appAuthBtu="ActionCode.userManageEdit"><i nz-icon type="edit" theme="outline"></i></button>
                <button nz-tooltip="删除" nz-button nzType="danger" nzShape="circle" nzSize="small" (click)="deleteUsers([row.userId])" *appAuthBtu="ActionCode.userManageDel"><i nz-icon type="delete" theme="outline"></i></button>

<!--               <nz-divider nzType="vertical"></nz-divider>
              <span class="operate-text" [ngStyle]="{'color':row.locked === 1?'#ccc':''}" (click)="lockUser(1,row)" *appAuthBtu="ActionCode.userManageEnable">锁定</span>
              <nz-divider nzType="vertical"></nz-divider>
              <span class="operate-text" [ngStyle]="{'color':row.locked === 0?'#ccc':''}" (click)="lockUser(0,row)" *appAuthBtu="ActionCode.userManageEnable">启用</span> -->

            </td>
          </tr>
        </tbody>

      </nz-table>
    </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tabPageType === 1 || tabPageType === 2" >
    <div>
      <form nz-form [formGroup]="userInfoForm" class="add-form" >
        <nz-form-item>
          <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>账号&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="loginName" nzSize="default" spellcheck="false" maxlength="20" [readonly]="tabPageType===2"
                   placeholder="请输入您的登录账号"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>用户名&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="name" nzSize="default" spellcheck="false" maxlength="20"
                   placeholder="请输入用户名称"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">昵称&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="nickname" nzSize="default" spellcheck="false" maxlength="20"
                   placeholder="此处和小程序信息动态绑定"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">性别&nbsp;</nz-form-label>
          <nz-form-control  nzSpan="20">
            <nz-radio-group formControlName="sex" >
              <label nz-radio nzValue="1">男</label>
              <label nz-radio nzValue="0">女</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>所属部门&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <nz-cascader nzPlaceHolder="请选择部门" formControlName="deptId"  (nzVisibleChange)="showDepartment($event)"
                         [nzOptions]="departmentOptions" (nzSelect)="selectDepartmentItem($event)" >
            </nz-cascader>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4"><span class="font-red-color">*&nbsp;</span>用户角色&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <nz-select formControlName="roleIds" nzMode="multiple" nzPlaceHolder="请选择角色,可多选" >
              <nz-option *ngFor="let item of roleIdList;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">联系电话&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="telephone" nzSize="default" spellcheck="false" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">手机号&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="mobile" nzSize="default" spellcheck="false"
                   placeholder="请输入手机号码，可用于接收系统报警"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">电子邮箱&nbsp;</nz-form-label>
          <nz-form-control nzSpan="20">
            <input nz-input formControlName="email" nzSize="default" spellcheck="false"
                   placeholder="请输入电子邮箱，可用于接收系统报警"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="4">是否锁定&nbsp;</nz-form-label>
          <nz-form-control  nzSpan="20">
            <nz-radio-group formControlName="locked" >
              <label nz-radio nzValue="1">是</label>
              <label nz-radio nzValue="0" >否</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-form-item-label-none" nzSpan="4"></nz-form-label>
          <nz-form-control  nzSpan="20" class="font-red-color">
            <nz-alert nzType="error" nzMessage="新建用户初始密码为：123456"></nz-alert>
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
          <nz-form-label class="ant-form-item-label-none" nzSpan="4"></nz-form-label>
          <div nz-col nzSpan="20">
            <button nz-button nzType="primary" class="submit-button" (click)="addOrEditSubmit()">保存</button>
            <button nz-button nzType="primary" class="submit-button" nzGhost="true" (click)="toggleManagePage()">取消</button>
          </div>
        </div>
      </form>
    </div>
  </ng-container>


</app-tab-route>
