<div #googleDrawDrivingContainer style="width: 100%;height: 100%"></div>
<!-- <div [hidden]="handleFlag===2" class="input-card" style="width: 100px"> 
    <button class="btn"  (click)="drawMakerWay()" style="margin-bottom: 5px">绘制途经点</button>
    <button class="btn"  (click)="removeMakerWay()" style="margin-bottom: 5px">清除途经点</button>
 </div> -->
<!-- <div class="input-card" style="width: 100px">
    <button class="btn" (click)="drawMakerStart()" style="margin-bottom: 5px">绘 制 起 点</button> 
    <button class="btn" (click)="drawMakerEnd()" style="margin-bottom: 5px">绘 制 终 点</button> 
    <button class="btn"  (click)="drawMakerWay()" style="margin-bottom: 5px">绘制途经点</button> 
    <button class="btn"  (click)="drawDriving()">生 成 路 线</button> 
 </div> -->