
#u625 {
  background-color: rgba(242, 242, 242, 0.839216);
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000333;
  text-align:left;
}

.ax_default {
  font-family:'ArialMT', 'Arial';
  width:100%;
  height:auto;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  //text-align:center;
  line-height:normal;
  text-transform:none;
}

#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000333;
  text-align:left;
}

#u625 .text {
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}

#u626 {
  border-width:0px;
  left:250px;
  top:84px;
  width:12px;
  height:12px;
  display:flex;
  color:#000333;
}

#u626_img {
  border-width:0px;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  margin-top: -3px;
  margin-left: 10px;
  margin-right: 10px;
}

#u626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#u627 .text {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}

#u627 {
  float:right;
  border-width:0px;
  width:20px;
  height:18px;
  margin-right:20px;
  font-family:'STSongti-SC-Bold', 'Songti SC Bold', 'Songti SC';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#262C5C;
  text-align:right;
}

.search-conds {
padding-right : 25px;
  height: 226px;
  border-left: 1px solid rgba(270, 226, 242, 81.839216);
  border-right: 1px solid rgba(270, 226, 242, 81.839216);
  border-bottom: 1px solid rgba(270, 226, 242, 81.839216);
}

.inline-span {
  text-align: right;
  padding-right: 10px;
  margin-top: 6px;
}
.align-center {
  text-align:center;
}
th {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;    
}
td {
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;    
}