/*
  样式文件入口，全局有效。
  全局样式应该写在src/global-styles 目录下的文件中，然后导入此文件中
 */


@import "global-styles/ng-zorro-custom";
@import "global-styles/common";
@import "global-styles/fonts/iconfont.css";
@import "global-styles/flex";
@import "global-styles/biz-global";
@import "~leaflet/dist/leaflet.css";
@import "global-styles/numbergd.css";
//@import "global-styles/ngx-quill";

/*
* 子sass文件中，路径会有异常
*/
.location-alarm {
  background: url("./assets/image/location-alarm-bg.png") no-repeat center;
}
.location-online {
  background: url("./assets/image/location-online-bg.png") no-repeat center;
}
.location-outline {
  background: url("./assets/image/location-outline-bg.png") no-repeat center;
}
