$table-nav-bar-height: 30px;

.table-nav-wrap {
  height: $table-nav-bar-height;
  position: relative;
  margin-bottom: 10px;

  .left {
    float: left;
  }

  .right {
    float: right;

    .search-group {
      width: 300px;
      vertical-align: middle;
    }

    .refresh {
      font-size: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      text-align: center;
      vertical-align: middle;
      border-radius: 3px;
    }

  }

}
.table-config{
  .config-item {
    padding:5px 10px;
  }
  .config-sort {
    .right {
      float: right;
    }
  }
}
