//.ant-table-body {
//  max-height: none !important;
//}
.ant-table > .ant-table-content > .ant-table-body{
  max-height: none !important;
}
.none{
  background-color: transparent;
}
.colored {
  background-color: #1d75b3;
}
.tips {
  float: right;
  height: 2px;
  margin-top: -12px;
  margin-right: -10px;
}
