<nz-table nzSize="small" [nzData]="_dataList" [nzBordered]="true" [nzFrontPagination]="false" [nzTotal]="_tableConfig.total"
          [(nzPageIndex)]="_tableConfig.pageNum" (nzPageIndexChange)="onIndexChange($event)" [nzShowQuickJumper]="_tableConfig.showPagination"
          [nzLoading]="_tableConfig.loading" [nzPageSizeOptions]="_tableConfig.pageSizeOptions" [nzShowPagination]="_tableConfig.showPagination"
          [nzShowSizeChanger]="_tableConfig.showPagination"
          [(nzPageSize)]="_tableConfig.pageSize" (nzPageSizeChange)="onSizeChange()" [nzScroll]="nzScroll">
  <thead>
  <tr>
    <th class="checkbox-wrap" *ngIf="_tableConfig.showCheckbox" nzLeft="0px" nzWidth="30px" nzShowCheckbox [(nzChecked)]="_tableConfig.checkAll" [nzDisabled]="_tableConfig.disabledCheckAll" (nzCheckedChange)="checkRowAll($event)"></th>
    <ng-container *ngFor="let head of _tableConfig.headers;trackBy:trackByTableHead;let headIndex=index">
      <th *ngIf="head.show !== false" [nzWidth]="head.width + 'px'"
          [nzLeft]="auxHeader[headIndex].nzLeft" [nzRight]="auxHeader[headIndex].nzRight" [ngClass]="head.thClassList">
        <span *ngIf="head.title">{{head.title}}</span>
        <ng-container *ngIf="head.thTemplate">
          <ng-template *ngTemplateOutlet="head.thTemplate;context:head"></ng-template>
        </ng-container>
      </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of _dataList;trackBy:trackByTableBody;let rowIndex=index;">
    <td class="checkbox-wrap" *ngIf="_tableConfig.showCheckbox" nzLeft="0px" nzShowCheckbox [(nzChecked)]="row[_tableConfig.checkRowField]" [nzDisabled]="_tableConfig.checkRowDisabledField ? row[_tableConfig.checkRowDisabledField] : false" (nzCheckedChange)="checkRowSingle($event,rowIndex)"></td>
    <ng-container *ngFor="let head of _tableConfig.headers;trackBy:trackByTableHead;let headIndex=index;">
      <td *ngIf="head.show !== false" [nzLeft]="auxHeader[headIndex].nzLeft" [nzRight]="auxHeader[headIndex].nzRight" [ngClass]="head.tdClassList">
        <ng-container *ngIf="head.tdTemplate;else rowTpl" >
          <ng-container *ngTemplateOutlet="head.tdTemplate;context:row"></ng-container>
        </ng-container>
        <ng-template #rowTpl>
          <ng-container *ngIf="head.pipe">{{row[head.field] | map:head.pipe}}</ng-container>
          <ng-container *ngIf="!head.pipe">{{row[head.field]}}</ng-container>
        </ng-template>
      </td>
    </ng-container>

  </tr>
  </tbody>
</nz-table>
